body {
    background-color: #F5F5F5;
    color: #DC6074;
    font-weight: initial;
    font-style: normal; 
}
header h1 p{
        color: #3c5c92;
        font-size: 45px;
        text-align: left;
        font-weight: bold;
        font-style: normal;
}
div.encabezado{
    width: auto;
    height: 350px;
    background-color: #e0ebe8 ;
    border-bottom: solid; border-color: #3c5c92;
    font-family: 'Abhaya Libre', serif;

}

header div h1 p{
        font-size: 45px;
        text-align: left;
        font-weight: bold; 
        text-align: center;
        font-family: 'Abhaya Libre', serif;
        
}


nav ul li{
    display: inline;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: auto;
    height: auto;
} 
ul{
    list-style-type: none;
}
body p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px ;
}
h2{
    color: #DC6074;
    font-family: 'Roboto', sans-serif;
    font-size: 40px ;
    text-align: center;
    font-weight: initial;
    font-style: normal; 
}

footer {
    color: #3c5c92;
    font-style: italic;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #e0ebe8 ;
}